@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    margin: 0;
    height: 1000px;
    font-family: "Josefin Sans";
    background-color: #C6E8FF;
}

.wrapper {
    width: 100%;
    height: 37%;
    background-color: #99D6FF;
}

.wrapper-inner {
    width: 85%;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 55px;
}

h4 {
    background-color: #2a406a;
    font-size: 16px;
    border-radius: 6px;
}

p {
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 70px;
}

.first {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.first div {
    width: 100%;
}

.first-text {
    color: #2a406a;
    position: absolute;
}

.first-image img {
    width: 40%;
    float: right;
    border-radius: 10px;
    position: relative;
}

.second-text {
    color: #2a406a;
    position: absolute;

}

.logo {
    height: 18px;
    background-color: #2a406a;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 20px;

}

.logo2 {
    height: 18px;
    background-color: #2a406a;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

.logo3 {
    height: 18px;
    background-color: #2a406a;
    width: 50%;
    border-radius: 10px;
}

.topnav {
    overflow: hidden;
    background-color: #4c628d;
    position: relative;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: #99D6FF;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.topnav a.icon {
    background: #4c628d;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #2a406a;
    color: #2a406a;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}