@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    margin: 0;
    height: 1000px;
    font-family: "Josefin Sans";
    background-color: #C6E8FF;
}

.wrapper {
    width: 100%;
    height: 37%;
    background-color: #99D6FF;
}

.wrapper-inner {
    width: 85%;
    margin: 0 auto;
}

.desk img {
    opacity: 0%;
    display: block;
    position: absolute;
}

.header {
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 55px;
}

h4 {
    background-color: #2a406a;
    font-size: 16px;
    border-radius: 6px;
}

p {
    font-size: 26px;
    line-height: 28px;
    margin-right: 13px;
}

.first {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.first div {
    width: 100%;
}

.first-text {
    color: #2a406a;
    position: absolute;
}

.first-image img {
    width: 130px;
    float: right;
    border-radius: 10px;
    position: relative;
}

.second-text {
    width: 100%;
    color: #2a406a;

}

.logo {
    height: 18px;
    background-color: #2a406a;
    width: 270px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

.logo2 {
    height: 18px;
    background-color: #2a406a;
    width: 100%;
    border-radius: 10px;
    margin-top: 100px;
    position: relative;
}

.logo3 {
    height: 18px;
    background-color: #2a406a;
    width: 240px;
    border-radius: 10px;
}

.second-text img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.topnav {
    overflow: hidden;
    background-color: #4c628d;
    position: fixed;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    z-index: 10;
    width: 100%;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: #99D6FF;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a:hover {
    background-color: #455a80;
}

.active {
    background-color: #2a406a;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.flex div {
    width: 100%;
}

@media (min-width: 480px) {

    .wrapper {
        height: 53.5%;
    }

    .first-image img {
        width: 210px;
    }

    .logo2 {
        margin-top: 175px;
    }

    .logo3 {
        width: 50%;
    }

    .second-text img {
        width: 55%;
        margin-left: 290px;
    }

    .desk img {
        height: 535px;
        width: 100%;
        opacity: 50%;
        display: block;
        position: absolute;
    }

    .flex div {
        width: 50%;
    }
}